<main class="container">
  <div class="row justify-content-center">
    <section class="mt-5">
      <h2>Contact Us</h2>
      <form
        action="https://formsubmit.co/916d00856bd6e0673068afaad5b455bd"
        method="POST"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            autocomplete="on"
          />
        </div>
        <div class="mb-3">
          <label for="contactEmail" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            id="contactEmail"
            name="contactEmail"
            autocomplete="on"
          />
        </div>
        <div>
          <label for="emailBody" class="form-label">Email Body:</label>
          <textarea
            class="form-control"
            id="emailBody"
            name="emailBody"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </section>
  </div>
</main>
